.background { 
background-color: black;
}

.title-box {
color: black;
width: 1000px;
height: 50px;
margin-left: auto;
margin-right: auto;
position: relative;
}

.title {
color: white;
position: absolute;
left: 440px;
}

.large-box {
width: 604px;
height: 604px;
margin-left: auto;
margin-right: auto;
margin-top: 75px;
position: relative;
}

.box{
width: 200px;
height: 200px;
}

#one{
width: 10px;
height: 250px;
position: absolute;
left: 0px;
top: 0px;
}

#two{
border-right: 5px solid white;
border-left: 5px solid white;
position: absolute;
left: 200px;
top: 0px;
}

#three{
position: absolute;
right: 0px;
}

#four{
border-top: 5px solid white;
border-bottom: 5px solid white;
position: absolute;
left: 0px;
bottom: 200px;
}

#five{
border: 5px solid white;
position: absolute;
bottom: 200px;
left: 200px;
}

#six{
border-top: 5px solid white;
border-bottom: 5px solid white;
position: absolute;
right: 0px;
bottom: 200px;
}

#seven{
position: absolute;
top: 400px;
left: 0px;
}

#eight{
border-right: 5px solid white;
border-left: 5px solid white;
position: absolute;
top: 400px;
left: 200px;
}

#nine{
position: absolute;
bottom: 0px;
right: 0px;
}


.X:before, .X:after{
    content: '';
    position: absolute;
    width: 150px;
    height: 8px;
    background-color: #FFC0CB;
    border-radius: 2px;
    top: 100px;
    left: 25px;
    animation-name: appear;
    animation-duration: 1s;
    }

.X:before{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.X:after{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.O {
border-radius: 50%;
height: 100px;
width: 100px;
border: 8px;
border-style: solid;
border-color: #BCB88A;
position: absolute;
left: 45px;
top: 45px;
}
